body {
    padding-top: 115px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    border-left:2px solid #eaeaea;
    border-right: 2px solid #eaeaea;
    background: white;
    color: #3d3d3d;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.top-header{
    height:62px;
    background:white;
}

.searchBar{
    text-align:center;
}

.inputSearchGroup {
    margin-left:120px;
    display: inline-flex;
}

.selectize-input {
    max-width:360px;
}

.searchBtn {
    float: right;
}

.logo-header img {
    max-height: 60px;
    float: left;
    margin-right:10px;
}

.logo-text {
    font-size: 24px;
    margin-top: 17px;
    font-family: 'Gugi', cursive;
    color: #3239a3;
}

.loginOptions a {
    margin-top: 15px;
    color: #3239a3 !important;
    font-family: 'Gugi', cursive;
}

.loginOptions .navbar-nav > li > a:hover {
    color: black;
}

.site-container{
    padding:30px 40px;
    min-height:580px;
}

.navbar-inverse {
    background-image: linear-gradient(rgb(58,123,213),rgb(58,96,115));
    border: 0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
}

.clickable-logo:hover{
    text-decoration:none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.control-label {
    text-align: left;
    margin-top: 6px;
}

.login-container{
    margin-top:50px;
}

.form-control{
    min-width:360px;
}

.all-books-container .col-md-2{
    padding-right:10px;
    padding-left:10px;
}


.page-title {
    font-size: 25px;
    font-style: italic;
    text-align:center;
}

.register-form-btn{
    margin-left:260px;
}

footer p{
    text-align:center;
}

.bordered-entity {
    width: 100%;
    border: 1px solid #cecece;
    margin: 10px 0;
    min-height: 280px;
    border-radius: 4px;
    padding-top: 15px;
}

.entity-rows {
    margin: 10px 12px;
    text-align:center;
}

.right-edge{
    border-radius:4px 0 0 4px;
}

.left-edge{
    border-radius:0 4px 4px 0;
}

.bookImage {
    width: 110px;
    height: 160px;
    display: block;
    margin: auto;
    border-radius: 3px;
}

.index-book-details{
    margin-top:20px;
}

.booksContainer{
    color:black;
}

#homepageCarouselControls img {
    object-fit: cover;
    width: 100%;
    height: 550px;
}

.homepage-authors img{
    height:130px;
    border-radius:100px;
    border:2px solid #ccc;
    width:auto;
    padding:5px;
    margin-left:10px
}

    .homepage-authors img:hover {
        border: 3px solid #e59400;
        cursor:pointer;
    }

.header-class-title {
    font-size: 27px;
    vertical-align: middle;
    font-style:italic;
    text-align:center;
    letter-spacing:1px;
}

.header-class-info {
    height: 160px;
    padding:0 20px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#F2F2F2,#DBDBDB,#EAEAEA );
    margin-top:15px;
    margin-bottom:15px;
    border-radius:5px;
}

.book-author {
    margin-left: 260px;
    margin-top: 15px;
    font-style: italic;
}

.singleBookDetails > div{
    font-size:17px;
}

.general-spacing-layout{
      padding-top:40px;
      padding-bottom:10px;
}

.singleBookPhoto, .singleAuthorPhoto{
    text-align:center;
}

    .singleBookPhoto img {
        height: 400px;
        border: 1px solid #7b7b7b;
        width: 280px;
        border-radius: 2px;
    }

    .singleAuthorPhoto img {
        height: 200px;
        width: 225px;
    }

.singleAuthorDetails{
    margin-top:40px;
   
}

.book-title{
    font-size:22px!important;
    font-weight:bold;
}

.book-additional-info{
   padding-top:90px;
}

.book-additional-info > div{
    margin-top:10px;
}

.singleBookContainer{
    padding:30px;
}

.button-right{
    text-align:right;
}

.every-page-header{
    padding-bottom:20px;
}

.front-header-content {
    text-align: center;
    min-height: 200px;
    padding-top: 20px;
}

.front-header-title {
    font-size: 30px;
    padding: 10px;
    color: #e59400;
}

.front-header-text{
    font-size:18px;
    line-height:27px;
    padding:20px 80px;
}

.front-map-container {
    min-height:300px;
    text-align:center;
}

.front-map-title {
    font-size: 30px;
    padding: 10px;
    color: #e59400;
}

.front-map-box img {
    height: 250px;
    object-fit:cover;
    width:100%;
}

.front-map-details{
    font-size:20px;
    padding:15px;
}

footer {
    min-height: 50px;
    background-image: linear-gradient(rgb(58,123,213),rgb(58,96,115));
    color: white;
    text-align: center;
}

footer p{
    padding-top:12px;
}

.action-buttons-right{
    float:right;
}

.index-author-image img {
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.favourite-book-icon {
    float: right;
    margin-top: 4px;
    margin-right: 20px;
    color: #428bca;
}

.favourite-book-icon i{
    font-size:25px;
}

    .favourite-book-icon i:hover {
        font-weight:600;
        cursor:pointer;
    }

.front-contact-details{
    font-size:18px;
    margin-top:5px;
}

.reviews-container {
    padding: 20px 50px;
}

.book-review-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.no-content-div {
    padding: 15px;
    border-radius: 5px;
    background: #eaeaea;
}

.single-review {
    padding: 15px;
    border-radius: 5px;
    background: #efefef;
    margin-bottom: 10px;
    border: 1px solid #b7b7b7;
}

.book-review {
    min-width: 740px;
    min-height: 35px;
}

.new-review-content{
    padding:20px 0;
    display:none;
}

.sendReviewBtns {
    height: 35px;
    float: right;
}

.add-review-text {
    font-size: 16px;
    padding-top: 3px;
}

.plus-review{
    float:right;
    margin-right:10px;
}

.plus-review i {
    font-size: 25px;
    color: #5cb85c;
    font-weight:bold;
}

    .plus-review i:hover {
        cursor: pointer;
    }

.get-author-books a {
    color: #000099;
}

.get-author-books a:hover{
    text-decoration:none;
}

.book-author-name {
    color: #3D9970;
    font-style:italic;
}

.book-book-title {
    color: #7f7f7f;
}

.single-author-container{
    padding:30px 20px;
}