body {
    padding-top: 110px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.top-header{
    height:62px;
    background:white;
}

.logo-header img {
    max-height: 60px;
    float: left;
    margin-right:10px;
}

.logo-text {
    font-size: 24px;
    margin-top: 17px;
    font-family: 'Gugi', cursive;
    color: #3239a3;
}

.loginOptions a {
    margin-top: 15px;
    color: #3239a3 !important;
    font-family: 'Gugi', cursive;
}

.loginOptions .navbar-nav > li > a:hover {
    color: black;
}

.site-container{
    padding:20px 35px;
    border:1px solid #ccc;
}

.navbar-inverse {
    background-image: linear-gradient(rgb(58,123,213),rgb(58,96,115));
    border: 0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
}

.clickable-logo:hover{
    text-decoration:none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.control-label{
    text-align:left;
}

.form-control{
    min-width:400px;
}

.page-title{
    font-size:21px;
    font-style:italic;
}

footer p{
    text-align:center;
}

.bordered-entity {
    width: 100%;
    border: 1px solid #e5e5e5;
    margin: 10px 0;
    height: 300px;
    border-radius: 4px;
    padding-top: 15px;
    /*background-image: liniar-gradient(#D3CCE3,#E9E4F0,#E9E4F0);*/
    /*background-image: linear-gradient(to left,#f9f9f9,#eaeaea,#f9f9f9);*/
}

.entity-rows{
    margin:10px;
}

.bookImage {
    width: 120px;
    height: 150px;
    background: blue;
    display: block;
    margin: auto;
}

.booksContainer{
    color:black;
}

#homepageCarouselControls img {
    object-fit: cover;
    width: 100%;
    height: 550px;
}

.homepage-authors img{
    height:130px;
    border-radius:100px;
    border:2px solid #ccc;
    width:auto;
    padding:5px;
    margin-left:10px
}

.header-class-title {
    font-size: 30px;
    vertical-align: middle;
    font-family: 'Gugi', cursive;
    font-style:italic;
    text-align:center;
}

.header-class-info {
    height: 160px;
    padding:0 20px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#F2F2F2,#DBDBDB,#EAEAEA );
    margin-top:10px;
    margin-bottom:10px;
}

.book-author {
    //text-transform: uppercase;
    text-align:center;
}

.singleBookDetails > div{
    font-size:17px;
}

.singleBookPhoto{
    text-align:center;
}

.singleBookPhoto img {
    height: 380px;
    width: 300px;
}

.book-title{
    font-size:22px!important;
}

.book-additional-info{
    padding:20px 0;
}

.book-additional-info > div{
    margin-top:10px;
}

.singleBookContainer{
    padding:30px;
}

.button-right{
    text-align:right;
}

.crud-book-layout{
   
}

.every-page-header{
    padding-bottom:20px;
}

.front-header-content {
    text-align: center;
    min-height: 200px;
    padding: 20px;
}

.front-header-title{
    font-size:30px;
    padding:10px;
}

.front-header-text{
    font-size:18px;
    padding:10px 20px;
}

.front-map-container {
    min-height:300px;
    text-align:center;
    padding:20px 0;
}

.front-map-title {
    font-size:30px;
    padding:10px;
}

.front-map-box img {
    height: 250px;
    object-fit:cover;
    width:100%;
}

.front-map-details{
    font-size:20px;
    padding:15px;
}

footer {
    min-height: 50px;
    background-image: linear-gradient(rgb(58,123,213),rgb(58,96,115));
    color:white;
    text-align:center;
}

footer p{
    padding-top:12px;
}

.action-buttons-right{
    float:right;
}



