@model IEnumerable<Library.Data.Entities.Genre>

@using Library.Data.Utils;

@{
    ViewBag.Title = "Genre";
}

<div class="row site-container">
    <div class="row every-page-header">
        <div class="page-title col-md-11">Categorii</div>
    </div>

    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td class="get-author-books">
                    @Html.ActionLink(@item.Name, "GetGenreBooks", new { genreId = item.Id})
                </td>
                @if (User.IsInRole(UserRoles.Admin))
                {
                    <td>
                        <div class="action-buttons-right">
                            @Html.ActionLink("Editeaza", "Edit", new { genreId = item.Id }, new { @class = "btn btn-primary" })
                            <button id="deleteGenre_@item.Id" class="btn btn-primary deletesGenre" type="button">Sterge</button>
                        </div>
                    </td>
                }
            </tr>
        }

    </table>
</div>

<div class="infoModal">
    @Html.Partial("DeleteGenreModal")
</div>
